<!-- templates/bookings/bookings.html -->
{% extends 'base.html' %}

{% load static %}


{% block title %}ParkingLots Listings{% endblock title %}


{% block content %}
<div id="bookingMain">
    <h1 id="booking_header">{{ user.first_name }}'s Rentals</h1>

    <hr />
    {% if user.is_authenticated %} 
        <!-- Print user's rental requests -->
        <div id="requestRentals">
            <div class="d-flex justify-content-between">
                <h2 id="requestsHeader">Rental Requests</h2>
                <i class="fas fa-stream align-self-center"></i>
            </div>
            {% for item in rented_Items %}
                <div id="card" class="card">
                    <div id="header"
                    class="card-header border-light bg-transparent">
                        <span class="font-weight-bold">{{ item.rental.confirmationNumber }}</span>
                        <span id="user">For: {{ item.listing.title }} | On: {{ item.rental.date }}</span>
                    </div>
                    <div id="card-body" class="card-body bg-transparent">
                        {% if item.cancelled == False and item.confirmed == False %}
                            <p>Status: Pending Action</p>
                            <a class="btn btn-outline-info btn-sm" href="{% url 'single_booking' item.rental_Item_id %}" role="button">Details</a>
                        
                        {% elif item.cancelled == True %}
                            <p>Status: Cancelled</p>
                            <a class="btn btn-outline-info btn-sm" href="{% url 'single_booking' item.rental_Item_id %}" role="button">Details</a>

                        {% else %}
                            <p>Status: Approved</p>
                            <a class="btn btn-outline-info btn-sm" href="{% url 'single_booking' item.rental_Item_id %}" role="button">Details</a>

                        {% endif %}
                    </div>
                </div>   
            {% endfor %}
        </div>

        <!-- Print user's listed rental requests -->
        <div id="listerRentals">
            <div class="d-flex justify-content-between">
                <h2 id="manage">Manage your listings</h2>
                <i class="fas fa-stream align-self-center"></i>
            </div>
            {% for item in listed_Items %}
                <div id="card" class="card">
                    <div id="header"
                    class="card-header border-light bg-transparent">
                        <span class="font-weight-bold">{{ item.rental.confirmationNumber }}</span>
                        <span id="user">For: {{ item.listing.title }} | On: {{ item.rental.date }}</span>
                    </div>
                    <div id="card-body" class="card-body bg-transparent">
                        {% if item.cancelled == False and item.confirmed == False%}
                            <p>Status: Your Action Needed</p>
                            <a class="btn btn-outline-success btn-sm" href="{% url 'single_booking' item.rental_Item_id %}" role="button">Take Action</a>
                        
                        {% elif item.cancelled == True%}
                            <p>Status: Cancelled</p>
                            <a class="btn btn-outline-info btn-sm" href="{% url 'single_booking' item.rental_Item_id %}" role="button">Details</a>

                        {% else %}
                            <p>Status: Approved</p>
                            <a class="btn btn-outline-info btn-sm" href="{% url 'single_booking' item.rental_Item_id %}" role="button">Details</a>

                        {% endif %}
                    </div>
                </div>  
        </div>
        {% endfor %}

    {% else %}
        <p>Please login to see this page.</p>
        <p><a href="{% url 'login' %}">Log In</a></p>

        <p>Not signed up? Register here: </p>
        <p class="lead"><a class="btn btn-outline-light btn-lg" href="{% url 'signup' %}" role="button">Register Here</a></p>
    {% endif %} 
</div>
{% endblock content%}