<!-- templates/bookings/loved_listings.html -->
{% extends 'base.html' %}

{% load static %}
{% load fontawesome_5 %}
{% fontawesome_5_static %}


{% block title %}ParkingLots Listings{% endblock title %}


{% block content %}
    <div id="mainLoved" class="shadow">
        <h1 id="lovedHead"><i class="far fa-heart shadow"></i></h1>


        <!-- Grid Layout -->
        <div id="listColorLoved" class="shadow">
            <div id="gridListLoved" class="container">
                <div class="row">
                    <h4 id="loveResults">Your Loves: {{ loved.count }}</h4>
                {% for love in loved %}
                    <!-- Place three rentals in a row --> 
                            <div class="col-sm">
                                <div class="badge" id="rateLoved">
                                    <p>from <b>${{ love.listing.hourly_Rate }}</b></p>
                                    <p id="hourLoved">per hour</p>
                                </div>
                                <img class="rounded img-fluid listImg figure-caption shadow" src="/media/{{ love.listing.images.image1 }}"/>
                                <div id="captionPanelLoved" class="d-inline-flex justify-content-between">
                                    <h4 id="listTitleLoved" class="figure-caption">{{ love.listing.title }}</h4>
                                    <p class="lead"><a class="btn btn-info btn-lg" href="{% url 'listing_single' love.listing.listing_id %}" role="button">Rent</a></p>
                                </div>
                            </div>

                    <!-- If last column close div/open new row -->
                    {% if forloop.counter|divisibleby:2 and not forloop.last %}
                        </div>
                        <div class="row">
                    {% elif forloop.last %}
                        </div>
                    {% endif %}        
                {% endfor %}
            </div>
        </div>
    </div>
  

{% endblock content%}