<!-- templates/listings/listing_images.html -->
{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Create Listing{% endblock title %}

{% block content %}
<div class="container" id="imagesCreate">
    <h1 id="create1">Create Listing</h1>
    <p>Upload some photos for your listing </p>

    {% if user.is_authenticated %}  
        <div class="container-sm flex-column">
            <form id="createListing" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ images_form }}
                <button class="btn btn-outline-success" type="submit">Finish Listing</button>
            </form>
        </div>


    {% else %}
      <p>Please login to see this page.</p>
      <p><a href="{% url 'login' %}">Log In</a></p>

      <p>Not signed up? Register here: </p>
      <p class="lead"><a class="btn btn-outline-light btn-lg" href="{% url 'signup' %}" role="button">Register Here</a></p>
    {% endif %}

</div>

{% endblock content %}