:root {
    --blue: #178DBE;
    --blueO: rgba(173, 233, 233, 0.85);
    --navy: #116C92;
    --cubano: #008991;
    --cubanoLight: #b2eae9;
    --rust: #fe6306;
}

/* Nav Styling */
nav {
    height: 9rem;
}

#navMain a {
    color: var(--cubano);
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
}

#parkingLogo {
    /* size: 1rem; */
    width: 90px;
    height: 60px;
    margin-left: 2rem;
    margin-right: 2rem;
}

/* Main Content Div */
#main_Back {
    height: 900px;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-image: url(../img/cubano4.jpg)
}

/* Home html */
#homeView {
    height: 100%
}

/* Page Headers */
#logo,
#listingHead,
#create1 {
    font-family: 'Rancho', cursive;
    color: white;
}

#map {
    height: 400px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
}

/* Listings.html */
#mainList {
    padding-top: 10rem;
}

#listingHead,
#create1 {
    font-size: 8rem;
    display: flex;
    justify-content: center;
    padding-left: auto;
    padding-right: auto;
}

#filterTitle {
    font-family: 'Raleway', sans-serif;
    color: var(--cubanoLight);
    size: 1.5rem;
    padding-top: 3rem;
    text-transform: uppercase;
}

#filterDiv {
    margin-top: 2rem;
    padding-top: 2rem;
    height: 7rem;
    border: 1px solid white;
    justify-content: center;
}


#gridList {
    font-family: 'Raleway', sans-serif;
    margin-top: 23rem;
    padding-top: 4rem;
    background-color: rgba(173, 233, 233, 0.85);
}

.listImg {
    height: 200px;
    width: auto;
    margin-top: -2rem;
}

#rate {
    font-size: .8rem;
    justify-content: end;
    background-color: var(--rust);
    margin-left: 16rem;
}

#captionPanel {
    margin-top: .5rem;
}

#listTitle {
    margin: 1rem;
    font-size: .9rem;
}

/* Single Listing */
#singleListing {
    background-color: white;
    padding-top: 2rem;
    font-family: 'Nunito', sans-serif;

}

#title {
    color: var(--cubano);
    margin-left: 3rem;
}

#titleSub {
    padding-right: 3rem;
}

#titleSub i {
    margin-right: .7rem;
}

#titleSub p {
    text-decoration: underline;
}

#love {
    color: var(--cubanoLight);
    font-size: 1rem;
    color: var(--rust);
}

#location {
    color: var(--cubanoLight);
    padding-left: 3rem;
    padding-bottom: 2rem;
    text-decoration: underline;
}

#typeDetail,
#loc {
    color: var(--cubano);
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#iconD,
#addressMain {
    color: var(--cubano);
    font-size: 1.2rem;
}

#iconD i,
#addressMain i {
    margin-right: 1.3rem;
    color: var(--rust);
}

#sideRate {
    width: 19rem;
    height: 15rem;
    color: var(--rust);

}

#pricingD {
    font-size: 1.4rem;
    margin-bottom: .5rem;
}

#sideRate button {
    width: 15rem;
    background-color: var(--rust);
}

#detailDes {
    font-family: 'Raleway', sans-serif;
    font-size: 1.5rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding-bottom: 10em;
}


/* Create listings */
#imagesCreate {
    padding-top: 6rem;
    padding-bottom: 20rem;
    background-color: var(--blueO);

}

/* Footer */
#footer {
    background-image: url(../img/footer.jpeg)
}