:root {
    --cubano: #008991;
    --cubanoLight: #b2eae9;
    --rust: #fe6306;
    --brick: #ffac80;
    --brick: #342a29;
}

/* Nav Styling */
nav {
    height: 9rem;
}

#navMain a {
    color: var(--cubano);
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
}

#parkingLogo {
    width: 90px;
    height: 60px;
    margin-left: 2rem;
    margin-right: 2rem;
}

/* Main Content Div */
#main_Back {
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-image: url(../img/cubano4.jpg);
}

#input {
    height: 150rem;
}

/* Home html */
#homeView {
    height: 100%
}

/* Page Headers */
#logo,
#logoSuccess,
#listingHead,
#create1,
#lovedHead {
    font-family: 'Rancho', cursive;
    color: white;
}

#map {
    height: 400px;
    width: 100%;
}

/* Loved */
#lovedHead {
    color: var(--cubano);
    padding-bottom: 4rem;
    border-bottom: 3px solid var(--cubano);
}

#listColorLoved {
    background-color: white;
    border-bottom: 3px solid white;
}

#loveResults {
    color: var(--cubano);
    font-size: 2rem;
    padding-bottom: 3rem;
    margin-bottom: 3rem;
    border-bottom: 1px solid var(--rust);
}

#gridListLoved {
    font-family: 'Raleway', sans-serif;
    margin-top: 1rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
    background-color: white;
}


/* Listings.html % loved_listings.html*/
#mainList,
#mainLoved {
    padding-top: 10rem;
}

#listingHead,
#lovedHead,
#create1,
#create2 {
    font-size: 8rem;
    display: flex;
    justify-content: center;
    padding-left: auto;
    padding-right: auto;
}

#filterDiv {
    margin-top: 8rem;
    padding-top: 1.7rem;
    margin-left: 12rem;
    margin-right: 12rem;
    height: 6.5rem;
    border: 1px solid white;
    justify-content: center;
}

#filterTitle {
    font-family: 'Raleway', sans-serif;
    color: var(--cubanoLight);
    size: 1rem;
    padding-left: 3rem;
    padding-top: .5rem;
}

#filterArrow {
    color: var(--rust);
    margin-left: .5rem;
    margin-right: .5rem;
    font-size: 3rem;
}

#filterDollar {
    margin-left: 3rem;
}

#filterP,
#filterV {
    margin-left: 3rem;
}

#listColor {
    background-color: white;
    margin-top: 3rem;
    padding-bottom: 2rem;
}

#gridList {
    font-family: 'Raleway', sans-serif;
    margin-top: 23rem;
    padding-top: 4rem;
    background-color: rgba(173, 233, 233, 0.95);
}

.listImg {
    height: 200px;
    width: auto;
    margin-top: -2rem;
}

#rate,
#rateLoved {
    font-size: .8rem;
    justify-content: end;
    background-color: var(--rust);
    margin-left: 16rem;
}

#captionPanel,
#captionPanelLoved {
    margin-top: .5rem;
}

#captionPanel a,
#captionPanelLoved a {
    padding-left: 1rem;
    padding-right: 1rem;
}

#listTitle,
#listTitleLoved {
    margin: 1rem;
    margin-right: 6rem;
    margin-bottom: 6rem;
    font-size: 1.3rem;
}

/* Single Listing & Rental Combo & listing_preview.html */
#singleListing,
#rentalListing,
#previewListing {
    background-color: white;
    padding-top: 2rem;
    font-family: 'Nunito', sans-serif;

}

#title,
#titleRental,
#titlePreview {
    color: var(--cubano);
    margin-left: 3rem;
}

#titleSub,
#titleSubRental,
#titleSubPreview {
    padding-right: 3rem;
}

#titleSub i,
#titleSubRental i,
#titleSubPreview i {
    margin-right: .7rem;
}

#titleSub p,
#titleSubRental p,
#titleSubRental p {
    text-decoration: underline;
}

#love,
#loveRental,
#lovePreview {
    color: var(--cubanoLight);
    font-size: 1rem;
    color: var(--rust);
}

#location,
#locationRental,
#locationPreview {
    color: var(--cubanoLight);
    padding-left: 3rem;
    padding-bottom: 2rem;
    text-decoration: underline;
}

#typeDetail,
#typeDetailRental,
#typeDetailPreview,
#loc,
#locRental,
#locPreview {
    color: var(--cubano);
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#iconD,
#iconDRental,
#iconDPreview,
#addressMain,
#addressMainRental,
#addressMainPreview {
    color: var(--cubano);
    font-size: 1.2rem;
}

#iconD i,
#iconDRental i,
#iconDPreview i,
#addressMain i,
#addressMainRental i,
#addressMainPreview i {
    margin-right: 1.3rem;
    color: var(--rust);
}

#sideRate,
#sideRateRental,
#sideRatePreview {
    width: 19rem;
    height: 15rem;
    color: var(--rust);

}

#pricingD,
#pricingDRental,
#pricingDPreview {
    font-size: 1.4rem;
    margin-bottom: .5rem;
}

#rentButton1,
#rentButton2,
#rentButton1Preview {
    width: 15rem;
    background-color: var(--rust);
}

#detailDes,
#detailDesRental,
#detailDesPreview {
    font-family: 'Raleway', sans-serif;
    font-size: 1.5rem;
    margin-top: 3rem;
    margin-bottom: 7rem;
}

#backList,
#backListRental {
    color: var(--rust);
    margin: 3rem;
    margin-bottom: 4rem;
    padding-bottom: 10rem;
}

/* Rental Request Form */
#rentalFormDiv {
    background-color: var(--rust);
    padding-top: 2rem;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-bottom: 2rem;
}

#grid1Rental,
#grid3Rental {
    display: flex;
    justify-content: space-around;
    padding-top: 1rem;
    color: white;
}

#grid2Rental {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}

#dateRental {
    margin-right: 13rem;
}

#timeRental {
    margin-left: 12rem;
}

#rentalButton {
    display: flex;
    justify-content: space-around;
    padding-left: 6rem;
    padding-right: 6rem;
    background-color: var(--cubano);
    margin-top: 2rem;
    margin-left: 25rem;
}

/* Rental Requested */
#requestedMain,
#successMain {
    margin-top: 8.5rem;
    background-color: var(--rust);
    padding-top: 5rem;
    padding-bottom: 5rem;
}

#confirmation,
#confirmationSuccess {
    border-bottom: 4px dotted black;
}

#dottedLine,
#dottedLineSuccess {
    width: 400px;
    height: 400px;
    margin-left: 2rem;
}

#carRequest,
#carRequestSuccess {
    margin-top: 1.5rem;
    font-size: 6rem;
    margin-left: -20rem;
}

#parkingIcon,
#parkingIconSuccess {
    margin-top: 11rem;
    height: 200px;
    width: auto;
    margin-left: 8rem;
}

#road,
#roadSuccess {
    font-size: 6rem;
    margin-right: 1.3rem;
}

/* Footer */
#fwrapper {
    height: 30rem;
    background-image: url(../img/footer.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom;
}

#grid1 {
    margin-top: 2rem;
}

#grid2 {
    color: var(--rust);
    margin-right: 1rem;
}

#grid2 i {
    padding: 1rem;
    font-size: 1.5rem;
}

#grid3 {
    color: var(--rust);
    margin-right: 2.7rem;
}

#grid3 a {
    color: var(--rust);
    font-family: 'Raleway', sans-serif;
    margin: 2rem;

}

#grid4 {
    margin-top: 17rem;
    margin-left: 5rem;
    color: var(--rust);
    font-family: 'Raleway', sans-serif;
}