<!-- templates/rentals/rental_request.html -->
{% extends 'base.html' %}

{% block title %}ParkingLots Home{% endblock title %}

{% block content %}
<br>
<div>
    <h1 id="logo" class="display-4">ParkingLots </h1>
    <p id="django" class="lead">Rental Requested!</p>

    {% if user.is_authenticated %}  
        <p>Thanks for your rental request!</p>
        <p>We'll notify you when the lister takes action on your request!</p>
        <!-- TODO MAP HERE -->

        <p>Search for more rentals: </p>
        <p class="lead"><a class="btn btn-outline-light btn-lg" href="{% url 'listings' %}" role="button">Search Listings</a></p>

        <p>Home: </p>
        <p class="lead"><a class="btn btn-outline-light btn-lg" href="{% url 'home' %}" role="button">Home</a></p>
   
    {% else %}
      <p>Please login to see this page.</p>
      <p><a href="{% url 'login' %}">Log In</a></p>

      <p>Not signed up? Register here: </p>
      <p class="lead"><a class="btn btn-outline-light btn-lg" href="{% url 'signup' %}" role="button">Register Here</a></p>
    {% endif %}

</div>

{% endblock content %}