<!-- templates/rentals/rent_listing.html -->
{% extends 'base.html' %}
{% load crispy_forms_tags %}  
{% load bootstrap4 %}       {# import bootstrap4/bootstrap3 #}
{% bootstrap_css %}         {# Embed Bootstrap CSS #}
{% bootstrap_javascript jquery='full' %} 



{% block title %}ParkingLots Home{% endblock title %}

{% block content %}
<div id="rentalMain">

    <div id="rentalListing">
        <div id="cardViewRental">
            <h2 id="titleRental">{{ listing.title}}</h2>
            <div id="titleSubRental" class="d-flex justify-content-between">
                <p id="locationRental">{{ listing.address.city }}, {{ listing.address.state }}</p>

                <div id="loveRental" class="d-flex justify-content-around">
                    <i class="far fa-heart"></i>
                    <p>Save</p>
                </div>
            </div>

            <!-- Rental Form Input -->
            <div id="rentalFormDiv">
                <form id="rentalForm" method="post">
                    {% csrf_token %}
                    {% crispy rental_form %}
                </form>
            </div>
            

                <!-- Descriptions  -->
            <div id="detailsRental" class="container">
                <h2 id="typeDetailRental">{{ listing.parking}} hosted by {{ listing.lister.first_name }}</h2>
                <hr />
                <div id="panelViewRental" class="d-flex justify-content-between">
                    <div id="iconDRental">
                        <div class="d-flex justify-content-start">
                            {% if listing.overNight is True %}
                                <i class="fas fa-moon"></i>
                                <p>Overnight Parking: <b>Yes</b></p>
                            
                            {% else %}
                                <i class="fas fa-moon"></i>
                                <p>Overnight Parking: <b>No</b></p>

                            {% endif %}
                        </div>
                        <div class="d-flex justify-content-start">
                            {% if listing.parking_Pass is True %}
                                <i class="fas fa-ticket-alt"></i>
                                <p>Parking Pass Needed: <b>Yes</b></p>
                        
                            {% else %}
                                <i class="fas fa-ticket-alt"></i>
                                <p>Parking Pass Needed: <b>No</b></p>

                            {% endif %}
                        </div>
                        <div class="d-flex justify-content-start">
                            {% if listing.meet_Renter is True %}
                                <i class="fas fa-handshake"></i>
                                <p>Lister must be present when parking: <b>Yes</b></p>
                        
                            {% else %}
                                <i class="fas fa-handshake"></i>
                                <p>Lister must be present when parking: <b>No</b></p>

                            {% endif %}
                        </div>
                    </div>
                    <div id="sideRateRental" class="rounded shadow d-flex flex-column justify-content-center align-items-center">
                        <div id="pricingDRental">
                            <p>${{ listing.hourly_Rate }} / hour</p>
                            <p>${{ listing.day_Rate }} / day</p>
                        </div>
                    </div>
                </div>

                <!-- TODO: Map View Addition -->
                <hr />
                <h3 id="locRental">Location </h3>
                <div id="addressMainRental" class="d-flex justify-content-start">
                    <i class="fas fa-map-marked-alt"></i>
                    <div>
                        <p>{{ listing.address.address1 }}</p>
                        <p>{{ listing.address.address2 }}</p>
                        <p>{{ listing.address.city }}, {{ listing.address.state }} {{ listing.address.zip }}</p>
                    </div>
                </div>

                <h2 id="detailDesRental">{{ listing.description }}</h2>
                
                <hr />

                <div id="carouselExampleControlsRental" class="carousel carousel-dark slide container" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        {% if listing.images.image1 %}
                            <div class="carousel-item active">
                                <img src="/media/{{ listing.images.image1 }}" class="d-block w-100" alt="...">
                            </div>
                        {% endif %}
                        {% if listing.images.image2 %}
                        <div class="carousel-item">
                            <img src="/media/{{ listing.images.image2 }}" class="d-block w-100" alt="...">
                        </div>
                        {% endif %}
                        {% if listing.images.image3 %}
                        <div class="carousel-item">
                            <img src="/media/{{ listing.images.image3 }}" class="d-block w-100" alt="...">
                        </div>
                        {% endif %}
                        {% if listing.images.image4 %}
                        <div class="carousel-item">
                            <img src="/media/{{ listing.images.image4 }}" class="d-block w-100" alt="...">
                        </div>
                        {% endif %}
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControlsRental"  data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControlsRental"  data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                    </button>
                </div>

                <div id="backListRental" class="d-flex justify-content-around">
                    <p class="lead"><a class="btn btn-outline-info" href="{% url 'listings' %}" role="button">Back to Listings</a></p>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock content %}