<!-- templates/listings.html -->
{% extends 'base.html' %}

{% load static %}

<!-- <script src="{% static 'listings.js' %}"></script> -->

{% block title %}ParkingLots Listings{% endblock title %}


{% block content %}
    <div id="listingMain">
        <h1 id="listingHead">Parking</h1>

        <!-- The div element for listings.js -->
     
        <div class="container" id="listings2"></div>

    </div>
  
    {% block javascript %}
    <script src="{% static 'js/listings.js' %}"></script>
    {% endblock %}
  
{% endblock content%}